@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header, footer, section {
    padding: 0 7%;
}

:root {
    --grey: #121316;
    --blue: #2A4096;
    --white: white;
    --box: rgba(42, 64, 150, 0.35);
    --pri-blue: #D4D9EA;
    --sec-orange: #FCB30A;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    /* line-height: 72px; */
    color: var(--blue);
}

p {
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    /* line-height: 24px; */

}

h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    color: var(--blue);

}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 20%;
}

.logo img {
    width: 100%;
}

nav {
    display: flex;
    /* justify-content: space-between; */
    /* gap: 7%; */
    width: 60%;
}

nav ul:nth-child(1) li {
    /* display: flex; */
    margin: 0 5%;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
    text-decoration: none;
}

nav a:hover {
    color: var(--blue);
}

/* .pri-nav {
    margin-right: 20px;
} */
.pri-nav, .sec-nav {
    font-weight: 600;
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 50px;
    padding: 3px 30px;
}

.pri-nav:hover {
    background-color: var(--blue);
    color: var(--white);
}

.sec-nav {
    background-color: var(--blue);
    color: var(--white);
}

.sec-nav:hover {
    color: var(--blue);
    border: 2px solid var(--blue);
    background-color: var(--white);
}

/* HERO */
.hero-1 {
    display: flex;
    align-items: center;
    /* gap: 2%; */
}

.hero .right, .hero .left {
    width: 50%;
}

.hero .right img {
    width: 100%;
}

.box {
    outline: none;
    padding: 2% 3%;
    border-radius: 50px;
    border: 2px solid var(--box);
    width: 70%;
    font-size: 14px;
}

.btn {
    padding: 2% 6%; 
    border-radius: 50px;
    color: var(--white);
    background-color: var(--blue);
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.hero-fm {
    display: flex;
    gap: 2%;
}

.hero-2 h1 {
    display: flex;
    justify-content: space-between;
    color: var(--pri-blue);
}

.boost {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    padding: 20px 7%;
}

.boost h1 {
    color: var(--white);
    /* width: 40%; */
    text-align: center;
}

.boost span {
    color: var(--sec-orange);
}

.boost p {
    font-weight: 400;
    /* line-height: 32px; */
    font-size: 20px;
    color: var(--white);
    /* width: 60%; */
    text-align: center;
    margin-top: -20px;
}

.detail-card {
    display: flex;
    padding: 30px 12%;
    align-items: center;
}

.detail-card .right, .detail-card .left {
    width: 50%;
}

.detail-card .right img {
    width: 100%;
}

.detail-card .left a{
    display: flex;
    align-items: center;
    gap: 1%;

    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    color: var(--blue);
}

.detail-card:nth-child(2) .left {
    order: 2;
}

.detail-card:nth-child(2) {
    justify-content: space-between;
}

.detail-card:nth-child(2) .right {
    width: 47%;
}
